*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(51, 89, 223, 0.73),rgba(51, 89, 223, 0.73)), url(../images/background.png);
    background-position: center;
    background-size: contain;
    position: relative;
}

.container{
    width: 40%;
    margin: 0 auto;
}
.container a{
    color: #05FF00;
}
.container .text-1{
    padding-top: 10px;
}

.text-wrapper{
    margin-top: 30px;
}
.text-wrapper h1{
    text-align: center;
    color: #fff;
}
.text-wrapper p{
   padding-top: 10px;
   color: #fff;
   font-size: 14px;
}
.input-container{
    margin-top: 10px;
    padding: 20px;
}
input{
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: 4px;
    outline: none; 
    font-size: small;
    margin-top: 10px;
}
.account-creation{
    margin-top: 15px;
    text-align: center;
}
.account-creation a{
    color: #fff;
}
.account-creation span{
    background-color: #3359DF;
    padding: 4px 12px;
    border-radius: 20px;
}

.account-creation .icon-signup{
    margin-top: 10px;
}
.account-creation .fa{
    font-size: 20px;
    color: #3359DF;
    padding: 10px;
}
@media only screen and (max-width: 900px){
    .container{
        width: 60%;
    }
}
@media only screen and (max-width: 450px){
    .container{
        width: 80%;
    }
}