*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

/*------------------ button global styling-------------------*/

.btn-colored{
    width: 170px;
    background-color: #3359DF;
    padding: 14px;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    margin-top: 25px;
    font-weight: 300;
    transition: .7s;
}
.btn-colored:hover{
    background-color: #fff;
    border: 1px solid #3359DF;
    color: #3359DF;
}
.btn-colorless{
    width: 170px;
    background-color: #fff;
    padding: 14px;
    border: 1px solid #3359DF;
    border-radius: 40px;
    color: #3359DF;
    font-size: 16px;
    margin-top: 25px;
    font-weight: 300;
    transition: .7s;
}
.btn-colorless:hover{
    background-color: #3359DF;
    border: none;
    color: #fff;
}

/* -------------------------------------------------------- */

header{
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(51, 89, 223, 0.73),rgba(51, 89, 223, 0.73)), url(../images/background.png);
    background-position: center;
    background-size: contain;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    width: 80%;
    margin: 0 auto;
}
nav .logo-online{
    display: flex;
    align-items: center;
}
.logo{
    width: 160px;
    margin-right: 30px;
    cursor: pointer;
}
nav h1{
    color: #fff;
    font-size: 28px;
}
nav h1 a{
    text-decoration: none;
    color: #ffffff;
}
nav span{
    color: #3359DF;
}
.online-icon{
    width: 70px;
    cursor: pointer;
}
nav  ul{
    flex: 1;
    text-align: right;
    
}
ul li{
    display: inline-block;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 700;
}
ul li a{
    text-decoration: none;
    list-style: none;
    color: #fff;
    transition: .7s;
}
ul li a:hover{
    color: #3359DF;
}
.sign-up{
    background-color: #3359DF ;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.sign-up:hover{
    background-color: #fff ;
}

.header-content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.header-content h1{
    font-size: 50px;
    margin-bottom: 12px;
}
.header-content p{
    font-size: 14px;
    color: #E5E5E5;
}

.nav-container .fa{
    display: none;
}
nav .fa{
    display: none;
}

@media(max-width: 961px) {
    ul li{
    margin: 0 8px;
    font-size: 12px;
    }
    .header-content h1{
        font-size: 40px;
    }
    .nav-container .fa{
        display: none;
    }
    nav .fa{
        display: none;
    }
}
@media(max-width: 760px) {
    ul li{
        display: block;
        font-size: 16px;
        text-align: left;
        line-height: 40px;
    }
    .nav-container{
        position: absolute;
        background-color: #3359DF;
        height: 80vh;
        width: 200px;
        top: -80vh;
        right: 0;
        text-align: left;
        z-index: 2;
        padding: 20px;
        transition: 1s;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-container .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-container ul{
        padding: 30px;
    }

}
@media(max-width: 535px){
    .header-content h1{
        font-size: 30px;
    }
}
@media(max-width: 280px){
    nav h1{
        font-size: 20px;
    }
    .online-icon{
        width: 50px;
        margin-left: -15px;
    }
}
/* -----------------styling section 1 --------------------------*/


section{
    width: 80%;
    margin: 60px auto 130px auto;
}
.container-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-header div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 20px;
    text-align: center;
}
.container-header div .undraw{
   width: 85px;
}
.container-header div h1{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3359DF;
    margin: 20px;
}
.container-header div p{
    font-size: small;
    color: rgba(0, 0, 0, 0.61);
}
 .btn{
    position: absolute;
    left: 45%;
    transform: translateY(-45%);
    margin-top: 50px;
 }


 @media(max-width: 760px){
    .container-header{
        display: block;
    }
    .container-header div{
        margin-bottom: 40px;
    }
    .btn{
        left: 35%;
        transform: translateY(-35%);
        margin-top: 40px;
     }
 }
 @media(max-width: 435px){
    .btn{
        left: 25%;
        transform: translateY(-25%);
        margin-top: 20px;
     }
 }






 /* ------------------section-2----------------------- */
 .template-container{
     display: flex;
     align-items: center;
 }
 .template-container .template-img{
     width: 550px;
 }
 .template-container .template-text{
     margin-left: 40px;
 }
 .template-container .template-text h1{
     font-size: 20px;
     font-weight: 600;
     letter-spacing: 5.5%;
     margin-bottom: 30px;
 }
 .template-container .template-text h1 span{
     background-color: #3359DF;
     color: #fff;
     border-radius: 30px;
     font-size: 14px;
     padding: 2px 6px;
 }
 .template-container .template-text p{
     color: rgba(0, 0, 0, 0.61);
     font-size: small;
 }

 @media(max-width: 1072px){
    .template-container .template-img{
        width: 400px;
    }
 }
 @media(max-width: 885px){
    .template-container .template-img{
        width: 350px;
    }
    .btn-colored-responsive{
        width: 140px;
        padding: 10px;
    }
 }
 @media(max-width: 822px){
    .template-container{
        display: block;
        align-items: center;
    }
    .template-container .template-img{
        width: 100%;
        margin-bottom: 30px;
    }
    .template-container .template-text{
        text-align: center;
    }
    .template-container .template-text h1 span{
        font-size: 10px;
    }
 }


 /* ------------------section-3 Portfolio----------------------- */

 .portfolio-container{
     display: flex;
     align-items: center;
 }
 .portfolio-container .portfolio-img{
     width: 100%;
 }
 .portfolio-container .portfolio-text{
     margin-left: 40px;
 }
 .portfolio-container .portfolio-text h1{
     font-size: 20px;
     font-weight: 600;
     letter-spacing: 5.5%;
     margin-bottom: 30px;
 }
 .portfolio-container .portfolio-text h1 span{
     background-color: #3359DF;
     color: #fff;
     border-radius: 30px;
     font-size: 14px;
     padding: 2px 6px;
 }
 .portfolio-container .portfolio-text p{
     color: rgba(0, 0, 0, 0.61);
     font-size: small;
 }
 .portfolio-text span{
     color: #3359DF;
 }
 .portfolio-text .btn-container{
     display: flex;
     align-items: center;
 }

 @media(max-width: 1200px){
    .portfolio-container .portfolio-img{
        width: 80%;
    }
 }
 @media(max-width: 1130px){
    .portfolio-container .portfolio-img{
        width: 60%;
    }
 }
 @media(max-width: 610px){
    .portfolio-container{
        display: block;
    }
    .portfolio-container .portfolio-img{
        width: 100%;
    }
    .portfolio-container .portfolio-text{
        margin-top: 20px;
        text-align: center;
    }
    .portfolio-text .btn-container{
        display: block;
 }
 }
 @media(max-width: 380px){
    .portfolio-text .btn-container .btn-porfolio-colored{
        display: none;
 }
 }
 @media(max-width: 380px){

 }
/* -------Button Portfolio */
 .btn-container .btn-porfolio-colored{
    width: 120px;
    background-color: #3359DF;
    padding: 8px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    margin-top: 25px;
    font-weight: 300;
    transition: .7s;
 }
 .btn-container .btn-porfolio-colored:hover{
    background-color: #fff;
    border: 1px solid #3359DF;
    color: #3359DF;
 }
 .btn-container .btn-portfolio-colorless{
    width: 120px;
    background-color: #fff;
    padding: 8px;
    border: 1px solid #3359DF;
    border-radius: 30px;
    color: #3359DF;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 20px;
    font-weight: 300;
 }
 .btn-container .btn-portfolio-colorless:hover{
    background-color: #3359DF;
    border:none;
    color: #fff;
 }
/* ---------------------- */




/* -------------------------section- 4 -Pricing-section----------------------- */


.pricing-section{
    width: 100%;
    background-color: #3359DF;
}
.pricing-section h1{
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
    color: #fff;
}
.pricing-container{
    width: 80%;
    display: flex;
    align-items: center;
    margin: 60px auto 100px auto;
}
.pricing-container .card{
    width: 25%;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    margin-left: 20px;
    padding-bottom: 10px;
    
}

.pricing-container .card p{
    padding: 10px;
    color: rgba(0, 0, 0, 0.61);
     font-size: small;
    
}
.pricing-container .card h1{
    padding-bottom: 10px;
    
}
.pricing-container .card .head h1{
    color: #000;
    
}
.pricing-container .card .head{
    width: 100%;
    background-color: #E6E6E6;
    border-top-right-radius: 50px;
    border-top-left-radius:50px ;
    
}
.pricing-container .card .head-1{
    width: 100%;
    border-top-right-radius: 50px;
    border-top-left-radius:50px ;
    background-color: rgba(51, 89, 223, 0.93);  
}
.pricing-container .card .head-2{
    width: 100%;
    background-color: #6C63FF;
    border-top-right-radius: 50px;
    border-top-left-radius:50px ;
    
}

.pricing-section h3{
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color:#D0CDE1;
}
@media(max-width: 1070px){
    .pricing-container .card{
        width: 30%;
    }
}

@media(max-width: 840px){
    .pricing-container .card{
        width: 45%;
    }
}
@media(max-width: 750px){
    .pricing-container .card{
        width: 50%;
    }
    .pricing-container .card .btn-price{
        width: 140px;
        padding: 8px;
        font-size: 14;
    }
}
@media(max-width: 700px){
    .pricing-container .card{
        width: 60%;
    }
    .pricing-container .card .btn-price{
        width: 120px;
        padding: 8px;
        font-size: 14;
    }
}
@media(max-width: 640px){
    .pricing-container{
        display: block;
        width: 100%;
    }
    .pricing-container .card{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }
}


/* ---------------------Contact-Section------------------------ */


.contact-section{
    width: 80%;
    margin: 0 auto;
}


.contact-section h1{
    padding-top: 20px;
    font-size: 25px;
    color: #3359DF;
    font-weight: 700;
    text-align: center;
}
.contact-form{
    padding: 20px 0;
}
.form-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

form input, select{
    width: 300px;
    padding: 10px;
    outline: none;
    border: 1px solid #979393a2;
    border-radius: 10px;
    color: #787474a8;
    font-size: 15px;
}
.form-textarea{
    margin-top: 30px;
}
textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #78747477;
    border-radius: 10px;
    color: #787474a8;
    font-size: 15px;
}
.btn-contact{
    margin-top: 40px;
}

@media screen and (max-width: 750px){
    .form-container{
        display: block;
    }
    form input{
        width: 100%;
        margin-bottom: 20px;
    }
    form select{
        width: 100%;
    }
    }
@media(max-width: 750px){
    .btn-contact{
        left: 20%;
        transform: translateY(-20%);
    }
}
@media(max-width: 280px){
    .btn-contact{
        width: 120px;
        padding: 8px;
        left: 20%;
        transform: translateY(-20%);
    }
    .contact-section h1{
        font-size: 18px;
    }
}



/* ----------------------------------- */

.social-media-section{
    width: 80%;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-media-section a{
    text-decoration: none;
   color: rgba(0, 0, 0, 0.61);
   transition: .5s;
}
.social-media-section a:hover{
    color: #3359DF;
}
/* ---------------------------------------------- */


footer{
    background-color: #3359DF;
    text-align: center;
    margin-top: 20px;
}
footer p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
}